<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] [%d{yyyy/MM/dd HH:mm:ss.SSS}] [%t] %C{1}.%M()(%F:%L) - %m%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFile" immediateFlush="false" append="false">
            <FileName>logs.log</FileName>
            <FilePattern>logs-%d{yyyy-MM-dd-hh}-%i.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>[%-5p] [%d{yyyy/MM/dd HH:mm:ss.SSS}] [%t] %C{1}.%M()(%F:%L) - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20Mb"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

        <Async name="AsyncRollingFile">
            <AppenderRef ref="RollingFile"/>
        </Async>

    </Appenders>
    <Loggers>
        <Logger name="ru.sstu.vak.emotionRecognition" level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <!--<AppenderRef ref="Console" />-->
        </Logger>
        <Logger name="ru.sstu.vak.emotionRecognition.cnnTrain" level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console" />
        </Logger>
        <!-- <Root level="trace">-->
        <!--    <AppenderRef ref="Console" />-->
        <!-- </Root>-->
    </Loggers>
</Configuration>