.remove-btn {
    -fx-background-color: -icon-paint;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z";

    -size: 24px;
    -icon-paint: red;
}

.remove-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

.remove-btn:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}


.settings-btn {
    -fx-background-color: -icon-paint;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M1.438 16.872l-1.438 7.128 7.127-1.438 12.642-12.64-5.69-5.69-12.641 12.64zm2.271 2.253l-.85-.849 11.141-11.125.849.849-11.14 11.125zm20.291-13.436l-2.817 2.819-5.69-5.691 2.816-2.817 5.691 5.689z";

    -size: 24px;
    -icon-paint: rgb(232, 128, 31);
}

.settings-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

.settings-btn:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}


.add-btn {
    -fx-background-color: -icon-paint;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z";

    -size: 24px;
    -icon-paint: rgb(0, 230, 0);
}

.add-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

.add-btn:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}


.start-listen-all {
    -fx-background-color: -icon-paint;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M20 15h4.071v2h-4.071v4.071h-2v-4.071h-4.071v-2h4.071v-4.071h2v4.071zm-8 6h-12v-2h12v2zm0-4.024h-12v-2h12v2zm0-3.976h-12v-2h12v2zm12-4h-24v-2h24v2zm0-4h-24v-2h24v2z";

    -size: 24px;
    -icon-paint: green;
}

.start-listen-all:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

.start-listen-all:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}


.stop-listen-all {
    -fx-background-color: -icon-paint;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M5.662 23l-5.369-5.365c-.195-.195-.293-.45-.293-.707 0-.256.098-.512.293-.707l14.929-14.928c.195-.194.451-.293.707-.293.255 0 .512.099.707.293l7.071 7.073c.196.195.293.451.293.708 0 .256-.097.511-.293.707l-11.216 11.219h5.514v2h-12.343zm3.657-2l-5.486-5.486-1.419 1.414 4.076 4.072h2.829zm.456-11.429l-4.528 4.528 5.658 5.659 4.527-4.53-5.657-5.657z";

    -size: 24px;
    -icon-paint: red;
}

.stop-listen-all:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

.stop-listen-all:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}

.endpoint .settings-btn, .endpoint .remove-btn, .endpoint .start-listen-all, .endpoint .stop-listen-all {
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -size: 15px;
}

.tool-bar {
    -fx-background-radius: 5px 5px 0 0
}

.show-tree-view-btn {
    -fx-background-color: -icon-paint;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M16,6h-2v32c0,1.657,1.343,3,3,3h9v-2h-9c-0.552,0-1-0.448-1-1V25h10v-2H16V6z M22,3H8C7.448,3,7,3.448,7,4v8c0,0.552,0.448,1,1,1h14c0.552,0,1-0.448,1-1V4	C23,3.448,22.552,3,22,3z M40,19H26c-0.552,0-1,0.448-1,1v8c0,0.552,0.448,1,1,1h14c0.552,0,1-0.448,1-1v-8 C41,19.448,40.552,19,40,19z M40,35H26c-0.552,0-1,0.448-1,1v8c0,0.552,0.448,1,1,1h14c0.552,0,1-0.448,1-1v-8	C41,35.448,40.552,35,40,35z";

    -size: 24px;
    -icon-paint: #B5015A;
}

.show-tree-view-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

.show-tree-view-btn:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}
